
.navbar {
  background-color: var(--leaf);
  color: var(--cream);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.user-text {
  display: flex;
  align-items: center;
}

.user-text p {
  margin: 0;
}

.navbar img {
  color: var(--celery);
  display: inline-block;
  margin-right: 4rem;
}

a {
  color: var(--cream);
  margin-right: 2rem;
  text-decoration: none;
  transition: 0.2s all;
}

a:hover {
  color: var(--celery);
}

.logout {
  border: 1px solid var(--forest);
  color: var(--cream);
  border-radius: 1rem;
  background-color: var(--forest);
  padding: 0.5rem 1rem;
  margin: 5px;
  margin-left: 2rem;
  transition: all 0.2s;
}

.logout:hover {
  border: 1px solid var(--celery);
  color: var(--celery);
}