.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.submit-btn {
  background-color: var(--leaf);
  border: none;
  border-radius: 5px;
  color: var(--cream);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  transition: 0.3s all;
}

.submit-btn:hover {
  background-color: #405849;
  color: #c5c5c5;
}

.submit-btn:active {
  background-color: black
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-div {
  position: relative;
  left: 20%;
  width: 55%;
  display: flex;
  align-items: row;
  flex-direction: row;
  justify-content: center;
  background-color: #014d4e;
  border-radius: 50px;
  margin: 1rem;
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
}

.search-input {
  margin-right: 20px;
  padding: 1.3rem;
  justify-content: center;
  flex-direction: column;
}

.search-input input[type="text"],
.search-input input[type="date"],
.search-input select {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  border-radius: 50px;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  width: 100%;
}

.search-input input[type="text"]::placeholder,
.search-input input[type="date"]::placeholder {
  color: #aaa;
}

.search-input select {
  width: 110px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath fill='%23333' d='M0 0l4 5 4-5H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 30%;
}

.search-button button {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button button:hover {
  background-color: #222;
}

.flightTypeSelectionDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deleteButton {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hotel-search {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-search {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
} */

.dashboard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath fill='%23333' d='M0 0l4 5 4-5H0z'/%3E%3C/svg%3E");
  /* position: relative; */
  min-width: 100%;
  min-height: 100%;
  display: absolute;
  display: flex;
  align-items: row;
  flex-direction: row; 
  justify-content: center;
  padding: 10px;
  background-color: #014d4e;
  border-radius: 50px;
  margin-top: 1rem;
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
}

.dashboard-title{
  position: absolute;
  color:white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.card{
  opacity: 0.8;
  position: relative;
  display: flex;
  width: 40%;
  align-items: column;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  margin-top: 5rem;
  margin-bottom: 20rem; /* change how big the dashboard is */
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
}
.card:hover{
  background-color: #d7e0e1;
  border-color: #013a3c;
  box-shadow: 0 0 5px 0 black;
}
/* .card1{
  
  float: left;
}
.card2{
  float: right;
} */

.btn-primary{
  border-radius: 20%;
  color: white;
  border-color: transparent;
  background: linear-gradient(to right,#014d4e, #027c7e);
  box-shadow:#014d4f;
}
.btn-primary:hover{
  background-color: #013a3c;
  border-color: #013a3c;
  box-shadow: 0 0 5px 0 black;
}
.card-img-top{
  border-radius: 25px;
  height: 50%;
}

