* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* p, label, div {
  font-size: 1.5rem;
} */

h1, h2 {
  color: var(--forest);
}

h3 {
  color: var(--black);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.boot-form {
  margin: auto;
  width: 60%;
}

.link {
  color: var(--forest);
  text-decoration: none;
  margin:auto;
}

.link:hover {
  color: var(--pear);
}

.submit-btn {
  background-color: var(--forest);
  border: none;
  border-radius: 1.5rem;
  color: var(--celery);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  transition: 0.3s all;
}

.submit-btn:hover {
  background-color: #405849;
  color: #c5c5c5;
}

.submit-btn:active {
  background-color: black
}

.other-btn {
  background-color: var(--celery);
  border: 2px solid var(--forest);
  border-radius: 1.5rem;
  color: var(--forest);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  transition: 0.3s all;
}

.other-btn:hover {
  color: #405849;
  background-color: #ada9a9;
}

.large-btn {
  background-color: var(--leaf);
  border: none;
  border-radius: 5px;
  color: var(--cream);
  padding: 1.5rem 3rem;
  transition: 0.3s all;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5rem;
}

.genres input[type="checkbox"]:not(:checked), 
.genres input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

.genres input[type="checkbox"] + label {
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid var(--forest);
  border-radius: 1rem;
  width: 9rem;
  color: var(--forest);
  transition: 0.2s all;
  background-color: var(--celery);
  margin: 1.5rem 2rem
}

.genres input[type="checkbox"] + label:hover {

  background-color: var(--cream);
  
}

.genres input[type="checkbox"]:checked + label {
  border: 2px solid var(--pear);
  color: var(--celery);
  background-color: var(--forest);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.deleteButton {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hotel-search {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-search {
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
} */

.dashboard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath fill='%23333' d='M0 0l4 5 4-5H0z'/%3E%3C/svg%3E");
  /* position: relative; */
  min-width: 100%;
  min-height: 100%;
  display: absolute;
  display: flex;
  align-items: row;
  flex-direction: row; 
  justify-content: center;
  padding: 10px;
  background-color: #014d4e;
  border-radius: 50px;
  margin-top: 1rem;
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
}

/* .dashboard-title{
  position: absolute;
  color:white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
} */

.card{
  opacity: 0.8;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  width: 40%;
  align-items: column;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: var(--forest);
  color: var(--celery);
  border-radius: 25px;
  margin: 2rem auto;
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  transition: all 0.2s ;
}
.card:hover{
  background-color: #2e4b41;
  border-color: #013a3c;
  box-shadow: 0 0 5px 0 black;
  cursor: pointer;
}
/* .card1{
  
  float: left;
}
.card2{
  float: right;
} */

.btn-primary{
  border-radius: 20%;
  color: white;
  border-color: transparent;
  background: linear-gradient(to right,#014d4e, #027c7e);
  box-shadow:#014d4f;
}
.btn-primary:hover{
  background-color: #013a3c;
  border-color: #013a3c;
  box-shadow: 0 0 5px 0 black;
}
.card-img-top{
  border-radius: 25px;
  height: 50%;
}

