.trip-btn {
  background-color: var(--celery);
  border: none;
}

.trip-btn:hover {
  background-color: white;
}

path {
  stroke:coral
}

.trip-selector-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.trip-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.labels {
  display: flex;
  justify-content: space-evenly;
  color: var(--forest);
}

button {
  margin-top: 1rem;
}